<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ country.name }}</title>
</head>
<body>

<h1 style="color: #34495E;
       font-size: 75px">{{ country.name }}</h1>

<h2><a href="/countries-list"
       style="color: #E59866;
          font-size: 25px;
        font-family: Arial">К списку стран</a></h2>

<h3 style="color: #85929E;
       font-size: 50px">Languages:</h3>

<ol style="color: #34495E;
       font-size: 30px">
    {% for lang in country.languages.all %}
        <li>{{ lang.name }}</li>
    {% endfor %}
</ol>

</body>
</html>