<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 style="color: #34495E;
       font-size: 75px">DjangoCountries</h1>
    
    <h2 style="color: #85929E;
           font-size: 50px;
         font-family: Arial">Приветствие</h2>
        
        <h3><a href="{% url 'countries_list' %}"
               style="color: #E59866;
                  font-size: 35px;
                font-family: Arial">Все страны</a></h3>
        
        <h4><a href="{% url 'languages_list' %}"
               style="color: #E59866;
                  font-size: 30px;
                font-family: Arial">Языки</a></h4>
</body>
</html>